# Local Netlify folder
.netlify
/node_modules
/tmp
*/.terraform/*
*\.terraform\*
*/.serverless/*
*.hcl
temp
auto-settlement-pro-ui/build/*
*/auto-settlement-pro-ui/build/*
*.zip
infrastructure/pfq-app.zip
infrastructure/api-app.zip
auto-settlement-pro-api/dist/nodejs/*
infrastructure/mongo_layer/*
infrastructure/node_modules/*
build
ProcessingFileQueue/ExtractedText.txt
*/.terraform/*
/infrastructure/environments/dev/.terraform
/infrastructure/environments/qa/.terraform
infrastructure/environments/dev/errored.tfstate
auto-settlement-pro-ui/build/asset-manifest.json
auto-settlement-pro-ui/build/index.html

/infrastructure/environments/prod/.terraform
auto-settlement-pro-api/.env
auto-settlement-pro-ui/.env
ProcessingFileQueue/.env
infrastructure/devdeploylog.txt
infrastructure/proddeploylog.txt
infrastructure/qadeploylog.txt
auto-settlement-pro-ui/.env.production
auto-settlement-pro-ui/.env.development
auto-settlement-pro-api/.env.production

/infrastructure/lambdas/sqsProcesser.zip
infrastructure/.env
